h2{
    background-color: aqua;
}

p{
    color: red;
    background-color: yellow;
}

#pverde{
    color: green;
}

.p1 {
    color: blue;
}

html{
    scroll-behavior: smooth;
}

/* Selectores Avanzados */

/* Hijos directos */
.sele-hij-des>li{
    background-color: gray;

}

/* Selector de Descendecia */
.sele-des b{
    background-color: aqua;

}

/* Selector Hermanos y Adyacentes*/
.herma ~ li{
    color: crimson;
}

.herma + li{
    color: green;
}

/* Selectores por  atributos */
.selec-atri[target]{
    background-color: turquoise;

}

.selec-atri[target="_top"]{
    background-color: red;

}

/* COMODINES SEÑLECTORES */

.selec-atri[href*= "youtube"]{
    background-color: green;

}

/* buscar por palabras de los atributos por ejemplo href youtube */

/* palabra al inicio de atributo */

.selec-atri[href^= "https"]{
    background-color: blue;

}

/* palabra al final del atributo */

.selec-atri[href$= "com"]{
    background-color: rgb(128, 0, 111);

}

/* Otros Selectores */

.selec-atri b[class~= "123"]{
    color:  rgb(223, 209, 11);

}

.selec-atri b[class|= "123"]{
    color:  rgb(11, 223, 22);

}

